/* Universal */
* {
    box-sizing: border-box;
}

/* Body */

body {
    background-color: blanchedalmond;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    width: 85%;
    margin: auto;
    padding-top: 1em;
}

header h1 {
    
}

/* Links */

    /* General */

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

a:hover {
    transition: 0.3s;
    background-color: rgb(102, 61, 8);
    color: white;
}

    /* Navigation */

nav {
    float: none;
    width: auto;
    padding-top: 0;
    margin: 10px 10px 30px;
}

nav li {
    display: inline-block;
}

nav a {
    padding: 0 20px;
}

nav a:link {
    color: black;
}

nav a:visited {
    color: rgb(150, 98, 30);
}
#column{
    float: left;
    width: 30%;
    text-align: left;
}
#title{
    text-align: center;
    
    font-size: 24pt;
}
#clear {
    clear: both;
}
img{
    float: left;
    border-style: solid;
    border-radius: 20px;
    border-width: 5px;
    border-color: brown;
}
#imgcolumn{
    float: right;
    width: 30%;
    text-align: left;
    margin-right: 80px;
}
#columnweird{
    float: none;
    width: 35%;
    text-align: left;
}
#video {
    float: right;
    margin-bottom: 100px;
    width: 40%;
}
#time {
    border-style: solid;
    border-radius: 20px;
    border-width: 5px;
    border-color: brown;
}
#bio {
    text-align: left;
    float: left;
    width: 50%;
    margin-left: 10%;
}
#profile {
    float: right;
    width: auto;
    height: 180px;
    margin-right: 20%;
}
#profileC {
    float: right;
    width: auto;
    height: 200px;
    margin-right: 20%;
}
#intro {
    width: 50%;
    margin: auto;
}