/* Universal */
* {
    box-sizing: border-box;
}

/* Body */

body {
    background-color: blanchedalmond;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    width: 85%;
    margin: auto;
    padding-top: 1em;
}

header h1 {
    
}

/* Links */

    /* General */

a {
    text-decoration: none;
}

a:hover {
    transition: 0.3s;
    background-color: rgb(102, 61, 8);
    color: white;
}

a:visited {
    color: rgb(150, 98, 30);
}

    /* Navigation */

nav {
    float: none;
    width: auto;
    padding-top: 0;
    margin: 10px 10px 30px;
}

nav li {
    display: inline-block;
}

nav a {
    padding: 0 20px;
}

nav a:link {
    color: black;
}